.card {
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  color: var(--white);
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  padding: 50px 25px 50px 20px;
  color: var(--black);
  font-size: 20px;
}

.vl {
  border-left: 1px solid  #e1e1e1;;
}

.head {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.headPrice {
  font-size: 32px;
}

.h3 {
  padding-left: 10px;
  border-left: 1px solid #e1e1e1;
}

.street {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 10px;
}

.button {
  border-radius: 6px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  border: 1px solid var(--black);
  font-size: 20px;
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.additionalName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overview {
  font-size: 24px;
}

.img {
  border-radius: 12px;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
  }

  .img {
    height: 500px;
  }

  .info {
    padding: 50px 20px;
  }
}

@media (max-width: 720px) {
  .img {
    height: 300px;
  }

  .info {
    font-size: 16px;
  }
}

@media (max-width: 720px) and (max-height: 512px) {
  .card {
    flex-direction: row;
  }

  .img {
    height: 300px;
  }

  .info {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .img {
    height: 240px;
  }
}
