.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.body {
  border-radius: 20px;
  background-color: var(--white);
  transform: scale(.5);
  transition: transform .3s;

  &.active {
    transform: scale(1);
  }
}
