.card {
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 32px;
  display: flex;
  gap: 32px;
  color: var(--black);
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1280px) {
  .card {
    flex-direction: column;
  }

  .img {
    width: 100%;
  }
}
