.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  display: flex;
  color: var(--white);
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs {
  display: flex;
  gap: 5px;
}

.button {
  background-color: var(--white);
  border-radius: 12px;
  border: var(--black) 2px solid;
  padding: 12px 12px;
  height: 50px;
  font-size: 13px;
}

.select {
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;

  &:focus-visible {
    outline: none;
  }
}

.apply {
  background-color: var(--white);
  border-radius: 12px;
  border: var(--black) 2px solid;
  padding: 12px 24px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  width: 33%;
}

@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
    gap: 8px;
  }

  .apply {
    width: 100%;
  }
}
