.header {
  background-color: #15151b;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  height: 80px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.select {
  background-color: transparent;

  &:focus-visible {
      outline: none;
  }
}

@media (max-width: 320px) {
  .navbar {
    flex-direction: column;
  }
}
