.wrapper {
    margin: 0 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards {
    margin-top: 80px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.infinity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  overflow-y: auto;
  height: calc(100vh - 80px);
}

@media (max-width: 920px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 15px 20px;
  }
}
