.wrapper {
    margin: 0 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.infinity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: calc(100vh - 300px);
}

@media (max-width: 1600px) {
  .wrapper {
    align-items: center;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 15px 20px;
  }

  .filter {
    display: none !important;
  }

  .infinity {
    height: calc(100vh - 80px);
  }
}
